/* styles.css */

/* Estilo do "desktop" */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.sobre-mim-texto {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #e4dfdf;
    line-height: 1.6;
    text-align: justify;
}

.texto-boas-vindas{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    color: #e4dfdf;
    line-height: 1.6;
    text-align: center;
}
.texto-items{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #e4dfdf;
    line-height: 1.6;
    text-align: justify;
}
.taskbar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(29, 27, 27, 0.7);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px 10px 0 0;
    transition: width 0.3s ease;
}

.taskbar-icon
{
    color:white;
    text-align: center;
    cursor: pointer;
}
.desktop {
    background-image: url('./Imagens/backgrounds/cave.gif');
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Ícones dos aplicativos */
.icon {
    text-align: center;
    margin: 15px;
    color: white;
    cursor: pointer;
}

.icon img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.app-window {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 300px;
    border: 1px solid #333;
    background-color: #fff;
    display: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    overflow: hidden; /* Para ocultar o conteúdo que extrapolar os limites */
}

.window-header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
}

.resize-handle {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #f5f2f2;
    bottom: 0;
    left: 0;
    cursor: se-resize;
}

.window-content {
    padding: 0;
    width: 100%;
    height: calc(100% - 30px); /* Subtrai a altura do cabeçalho */
    box-sizing: border-box;
    overflow: hidden; /* Remove a rolagem para expandir completamente */
    display: flex;
    flex-direction: column;
}

#map {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.app-window.minimized {
    display: none; /* Esconde a janela */
}

.app-window {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 400px;
    border: 1px solid #4E4E4E;
    background-color: #222020;
    display: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
}

.window-header {
    background-color: #1d1a1a;
    color: #FFFFFF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.window-buttons {
    display: flex;
    gap: 5px;
}

.window-buttons button {
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.window-buttons button:nth-child(1) {
    background-color: #eeeaea; /* Minimize Button */
}

.window-buttons button:nth-child(2) {
    background-color: #a53838; /* Close Button */
}

.sidebar {
    width: 150px;
    background-color: #221d1d;
    padding: 10px;
    box-sizing: border-box;
    border-right: 1px solid #D1D1D1;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #221d1d;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar li:hover {
    background-color: #746f6f;
}

.settings-container {
    display: flex;
    height: 100%;
}

.settings-content {
    flex-grow: 1;
    padding: 20px;
}

.current-time {
    position: absolute;
    top: 10px;
    right: 1600px;
    color: white;
    font-size: 30px;
    font-family: Arial, sans-serif;
    background-color: rgba(37, 26, 26, 0);
    padding: 5px 10px;
    border-radius: 5px;
}

#notas {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 100px;
    border: 1px solid #4E4E4E;
    background-color: #222020;
    display: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
}

#downloadBtn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#downloadBtn:hover {
    background-color: #555;
}

.settings-content a img {
    transition: transform 0.3s;
    text-align: center;
}

.settings-content a:hover img {
    transform: scale(1.1);
}

.games-grid {
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.game-item {
    text-align: center;
    width: calc(33.33% - 20px); 
    max-width: 100px;
    margin-bottom: 20px;
}

.game-icon {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.3s;
}

.game-icon:hover {
    transform: scale(1.1);
}

.game-name {
    margin-top: 5px;
    font-size: 14px;
    color: #e4dfdf;
}




